In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv("homeprice.csv")

In [3]:
df

   area  bedrooms  age     price
0  2600       3.0     20  550000
1  3000       4.0     15  565000
2  3200       NaN     18  610000
3  3600       3.0     30  595000
4  4000       5.0      8  760000

In [4]:
bed=df.bedrooms.median()

In [5]:
bed

3.5

In [6]:
newbed=bed+0.5

In [7]:
newbed

4.0

In [8]:
import math
med_bedroom = math.floor(df.bedrooms.median())

In [9]:
med_bedroom

3

In [10]:
df.bedrooms = df.bedrooms.fillna(med_bedroom)

In [11]:
df.bedrooms

0    3.0
1    4.0
2    3.0
3    3.0
4    5.0
Name: bedrooms, dtype: float64

In [12]:
df

   area  bedrooms  age     price
0  2600       3.0     20  550000
1  3000       4.0     15  565000
2  3200       3.0     18  610000
3  3600       3.0     30  595000
4  4000       5.0      8  760000

In [17]:
df.age

AttributeError: 'DataFrame' object has no attribute 'age'

In [16]:
df.columns

Index(['area', 'bedrooms', 'age  ', 'price'], dtype='object')

In [25]:
reg = LinearRegression()

In [26]:
reg.fit(df[['area','bedrooms','age  ']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
reg.predict([[3000,3,40]])

array([444400.])

In [23]:
df['age  ']

0    20
1    15
2    18
3    30
4     8
Name: age  , dtype: int64